
@media(max-width: 1024px) {
  #top-copy {
    padding-top:16%;
  }
  #top-copy h1{
    font-size:200%;
  }
  .header-left img{
    width:35px;
    height:35px;
  }
  .header-left a{
    font-size:20px;
  }
  .contact-form {
    width: 90%;
    margin: 10px auto;
    padding: 20px;
  }
  input[type="text"],input[type="submit"]{
    width: 50%;
  }
  textarea {
    width: 80%;
}

}



@media(max-width: 670px){
  #top-copy {
    padding-top:18%;
  }
  #top-copy h1{
    font-size:110%;
  }
  #header-right-mobile{
    display:block;
  }
  .header-right{
    display:none;
  }
  .company-map{
    flex-wrap:wrap;
    margin:0 auto;
  }
  .company{
    width:100%;
    margin-bottom:10px;
  }
  .map{
    width:100%;
    margin-left:0px;
  }
  .copyright{
    font-size:6px;
  }
  .contact-form {
    width: 100%;
    margin: 10px auto;
    padding: 20px;
  }
  input[type="text"],input[type="submit"],textarea {
    width: 100%;
}

}
