
@import url(https://fonts.googleapis.com/css?family=Sawarabi+Mincho);


* {
  box-sizing: border-box;
}
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
body {
  margin: 0;
  font-family: "Hiragino Kaku Gothic ProN";
}
.container {
  max-width: 1170px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
  text-align:center;
}
.home-top {
  position: relative;
}
#top-copy{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  width:100%;
  padding-top:15%;
  display:none;
}
#top-copy h1{
  color:white;
  opacity:0.9;
  font-size:41px;
  font-family: 'Sawarabi Mincho';
  text-shadow:1px 2px 3px #808080;
}
.page-top{
  position: relative;
  top:0;
  header:128px;
  width:100%;
}
.top_name{
  font-weight: bold;
  font-family: 'Sawarabi Mincho';
}
.top_name:hover{
  color:rgba(0, 0, 0,0.5);
  cursor:pointer;
}
header{
  height:50px;
  background-color:green;
  border:1px solid #b3aeb5;
  width:100%;
  padding:5px 0px;
  background-color: rgba(255,255,255,0.8);
  position :fixed;
  top: 0;
  z-index: 10;

}
.header-left img{
  width:40px;
  height:40px;
  float: left;
}
.header-left a{
  font-size:30px;
  color:black;
  line-height: 40px;
  display: block;
  float: left;
}
#menu-icon {
  color: black;
  background-color:rgba(105,105,105,0.7);
  float: right;
  font-size:30px;
  padding:5px 7px;
  margin-top:-1px;
}
#header-right-mobile{
  display:none;
}
.header-right {
  float: right;

}

.header-right a {
  line-height: 39px;
  padding: 0 18px;
  margin-right:1px;
  color: #333333;
  background-color: rgba(192,192,192, 0.7);
  display: block;
  float: left;
  transition: all 0.5s;
  margin-top:-1px;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
#menu{
  width:200px;
  height:245px;
  background-color:rgba(0, 128, 128,0.9);
  float:right;
  display: none;
}
#menu a{
  display:block;
  padding: 5px 25px;
  margin:10px 0px;
  color: rgba(255,255,255,1);
  font-size:18px;
}
footer{
  border-top:1px solid #b3aeb5;
  width:100%;
  margin:0 auto;
}
footer h3{
  text-align:center;
  font-size:20px;
  padding-top:10px;
  margin-bottom:20px;
}
.company{
  width:300px;
  height:300px;
  margin-bottom:40px;
  text-align:left;
  background-color:rgba(224, 255, 255,0.7);
  padding:20px;
  flex: auto;
}
.company li{
  padding:7px;
  font-weight:bold;
  color:#2f4f4f;
}
.map{
  width:300px;
  height:300px;
  margin-left:20px;
  flex: auto;
}
.copyright{
  font-weight:normal;
  font-size:20px;
}
.company-map{
  display:flex;
  margin:0px 30px;
}
.selected {
  color: #ED7000;
}
.contact-form {
  width: 70%;
  margin: 60px auto;
  padding: 50px;
  background-color: #F5F5F5;
  color: #333;
  border-radius:10px;
}
.form-group{
  margin:30px 0px;
}
input[type="text"] {
  width: 50%;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
}

button[type="submit"] {
  margin-top: 30px;
  width: 30%;
  border: 1px solid #0099CC;
  border-radius: 4px;
  padding: 12px;
  box-shadow:0 7px #003399;
  font-size: 14px;
  line-height: 1.428571429;
  color: white;
  background-color: #0099CC;
  cursor: pointer;
}
button[type="submit"]:active{
  position:relative;
  top:7px;
  box-shadow:none;
}
button[type="submit"]:hover {
  opacity: 1;
}

textarea {
  width: 90%;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  font-size: 14px;
  line-height: 1.428571429;
  color: #555;
}
.main_copy{
  margin:30px 0px;
}
.main_copy h2{
  font-weight:bold;
  color:#ff8c00;
}
.main_copy p{
  font-weight:bold;
  color:#ff8c00;
}
.main_recruit{
  width:70%;
  margin:30px auto;
}
.main_recruit h2{
  color:#ff8c00;
  margin:30px 0px;
  border-bottom:1px solid #ff8c00;
}
.main_recruit p{
  text-align:left;
}
.main-footer-copy{
  margin:60px 0px;
  color:blue;
  font-size:18px;
  display:inline-block;
}
.contact_copy{
    margin:30px 0px;
}
.contact_copy p{
  font-weight:bold;
  color:#ff8c00;
}
.home-contents{
  float:left;
  width:50%;
  padding-top:10px;
  display:inline-block;
  margin:30px 0px;
}
.title{
  color:blue;
  font-size:25px;
  padding:15px 0px;
}
.contents-text{
  color:black;
  display:inline-block;
  width:70%;
  font-size:15px;
}
.fa{
  color:#555555;
}
.performance{
  width:600px;
  margin:0 auto;
}
.performance-contents img{
  width:600px;
  margin:20px 0px;
}
.performance-contents{
  margin-bottom:30px;
  float:left;
  width:100%;
}
.performance-title{
  display:block;
  color:blue;
  font-size:25px;
  margin:30px 0px;
  border:1px solid blue;
  border-radius:10px;
  padding:8px 24px;
}
